$color-original-green: #9AA659;

$color-green-light: #274001;
$color-green-dark: #172601;

$color-red-light: #bf0404;
$color-red-dark: #730c02;

$color-white: #f2f2f2;
$color-black: rgb(39, 39, 39);

