.section-header{
    height: 10rem;
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 3rem;
    position: relative;

    &__logo{
        padding: 1rem;
        display: inline-block;

        img{
            height: 7rem;
        }
    }

    &__nav{
        display: inline-block;
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%);
        
        ul{
            list-style: none;

            &>*:not(:first-child){
                margin-left: 30px;
            }
            
            li{
                display: inline-block;
                font-size: 1.7rem;
                text-transform: uppercase;
            }
        }
    }
}